bin/activate
bin/activate.csh
bin/activate.fish
bin/Activate.ps1
bin/doesitcache
bin/f2py
bin/f2py3
bin/f2py3.10
bin/flask
bin/keyring
bin/normalizer
bin/pip
bin/pip3
bin/pip3.10
bin/pkginfo
bin/poetry
bin/pyflakes
bin/pylsp
bin/python
bin/python3
bin/python3.10
bin/replit
bin/virtualenv
bin/yapf
bin/yapf-diff
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/Activate.ps1
venv/bin/doesitcache
venv/bin/f2py
venv/bin/f2py3
venv/bin/f2py3.10
venv/bin/flask
venv/bin/keyring
venv/bin/normalizer
venv/bin/pip
venv/bin/pip3
venv/bin/pip3.10
venv/bin/pkginfo
venv/bin/poetry
venv/bin/pyflakes
venv/bin/pylsp
venv/bin/python
venv/bin/python3
venv/bin/python3.10
venv/bin/replit
venv/bin/virtualenv
venv/bin/yapf
venv/bin/yapf-diff
